body {
  background-attachment: fixed;
  background-image: url( '../images/intro.svg' );
  background-color: #5e42a6;
  background-repeat: repeat-y;
  background-size: 40rem auto;
  color: white;

  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.content-container {
  margin-left: 20px;
}

.navBar-container,
.top-navbar,
.bottom-navbar {
  display: flex;
  flex-direction: column;
}

.navBar-container {
  width: 20%;
  background: #312450;
  justify-content: center;
}

.top-navbar, .bottom-navbar {
  margin-top: 20px;
  align-items: center;
}

.button-link {
  width: 80%;
  text-decoration: none;
  color: white;
  text-align: right;
  font-size: 15px;
  border-bottom: 1px solid white;
}